h1 {
  margin-bottom: 0 !important;
}
.album-info {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}
.album-info > img {
  max-width: 250px;
  max-height: 250px;
  margin-left: auto;
}
li {
  font-size: 1.2rem;
}
li > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
li > div > p {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 20px;
}
li > div > audio {
  height: 2rem;
}
